.vscode
.DS_Store
node_modules
dist
.env
*.log
.idea
*.iml
coverage
*.class
*.jar
*.war
*.ear
*.swp
*.swo
Thumbs.db
*.bak
*.tmp
*.old
*.orig
*.rej
*.exe
*.dll
*.so
*.dylib
*.pyc
__pycache__/
.env.local
.env.development.local